pkgbase = hg-fast-export-git
	pkgdesc = A mercurial to git converter using git-fast-import.
	pkgver = r498.13010f7
	pkgrel = 1
	url = http://repo.or.cz/w/fast-export.git
	arch = any
	license = MIT
	depends = python2
	depends = mercurial
	provides = hg-fast-export
	conflicts = hg-fast-export
	source = git+http://repo.or.cz/r/fast-export.git
	sha512sums = SKIP

pkgname = hg-fast-export-git

