[submodule "aur.archlinux.org/emacs-evil"]
	path = aur.archlinux.org/emacs-evil
	url = git+ssh://aur@aur.archlinux.org/emacs-evil.git
[submodule "aur.archlinux.org/emacs-rust-mode"]
	path = aur.archlinux.org/emacs-rust-mode
	url = git+ssh://aur@aur.archlinux.org/emacs-rust-mode.git
[submodule "aur.archlinux.org/emacs-undo-tree"]
	path = aur.archlinux.org/emacs-undo-tree
	url = git+ssh://aur@aur.archlinux.org/emacs-undo-tree.git
[submodule "aur.archlinux.org/emacs-yasnippet"]
	path = aur.archlinux.org/emacs-yasnippet
	url = git+ssh://aur@aur.archlinux.org/emacs-yasnippet.git
[submodule "aur.archlinux.org/dynamorio"]
	path = aur.archlinux.org/dynamorio
	url = git+ssh://aur@aur.archlinux.org/dynamorio.git
[submodule "aur.archlinux.org/pin"]
	path = aur.archlinux.org/pin
	url = git+ssh://aur@aur.archlinux.org/pin.git
[submodule "aur.archlinux.org/emacs-helm"]
	path = aur.archlinux.org/emacs-helm
	url = git+ssh://aur@aur.archlinux.org/emacs-helm.git
