/host/
/*/*/
/*/*.pkg.tar.xz
/*/*.pkg.tar.xz.sig
!/aur.archlinux.org/*/
!/personal/*/
/personal/*/pkg/
/personal/*/src/
/personal/*/*.tar*
/personal/hg-fast-export-git/fast-export/
/personal/i3lock-wrapper/i3-extras
/personal/ttf-ms-fonts/*.exe
/personal/spotify/spotify-*
/personal/unifi/*.zip
!/upstream/*/
