[submodule "upstream/emacs-evil"]
	path = upstream/emacs-evil
	url = aur@aur.archlinux.org:emacs-evil
[submodule "upstream/emacs-rust-mode"]
	path = upstream/emacs-rust-mode
	url = aur@aur.archlinux.org:emacs-rust-mode
[submodule "upstream/emacs-undo-tree"]
	path = upstream/emacs-undo-tree
	url = aur@aur.archlinux.org:emacs-undo-tree
[submodule "upstream/python-pluginloader"]
	path = upstream/python-pluginloader
	url = aur@aur.archlinux.org:python-pluginloader
