[submodule "upstream/dynamorio"]
	path = upstream/dynamorio
	url = aur@aur.archlinux.org:dynamorio
[submodule "upstream/emacs-async"]
	path = upstream/emacs-async
	url = aur@aur.archlinux.org:emacs-async
[submodule "upstream/emacs-evil"]
	path = upstream/emacs-evil
	url = aur@aur.archlinux.org:emacs-evil
[submodule "upstream/emacs-helm"]
	path = upstream/emacs-helm
	url = aur@aur.archlinux.org:emacs-helm
[submodule "upstream/emacs-rust-mode"]
	path = upstream/emacs-rust-mode
	url = aur@aur.archlinux.org:emacs-rust-mode
[submodule "upstream/emacs-undo-tree"]
	path = upstream/emacs-undo-tree
	url = aur@aur.archlinux.org:emacs-undo-tree
[submodule "upstream/emacs-yasnippet"]
	path = upstream/emacs-yasnippet
	url = aur@aur.archlinux.org:emacs-yasnippet
[submodule "upstream/pin"]
	path = upstream/pin
	url = aur@aur.archlinux.org:pin
[submodule "upstream/python-pluginloader"]
	path = upstream/python-pluginloader
	url = aur@aur.archlinux.org:python-pluginloader
[submodule "upstream/emacs-helm-ls-git"]
	path = upstream/emacs-helm-ls-git
	url = aur@aur.archlinux.org:emacs-helm-ls-git
