pkgbase = emacs-queue
	pkgdesc = A implement of queues for Emacs
	pkgver = 0.2.1
	pkgrel = 1
	url = 3605a92ec00a24e225aebd35ef6dfde2475477bce864bad1e410e3a3364148d5
	arch = any
	license = GPL
	depends = emacs
	source = https://www.dr-qubit.org/predictive/queue.el
	sha256sums = 3605a92ec00a24e225aebd35ef6dfde2475477bce864bad1e410e3a3364148d5

pkgname = emacs-queue

