pkgbase = python-skbuild
	pkgdesc = Improved build system generator for CPython C/C++/Fortran/Cython extensions
	pkgver = 0.11.1
	pkgrel = 1
	url = https://github.com/scikit-build/scikit-build
	arch = any
	license = MIT
	makedepends = python-setuptools
	source = https://github.com/scikit-build/scikit-build/archive/refs/tags/0.11.1.tar.gz
	sha512sums = 311e77d5fb8cc86e8157e1e5fb6aed9ae43a737e091a3902550064705127f1bf21d100bbdca6d74d6e7454e61023b1853c249a5bb927ffd434ac344e0d1e33af

pkgname = python-skbuild

