pkgbase = python-ninja
	pkgdesc = Python wrapper for ninja
	pkgver = 1.10.0.post2
	pkgrel = 1
	url = https://github.com/scikit-build/ninja-python-distributions
	arch = any
	license = Apache
	makedepends = python-setuptools
	makedepends = python-skbuild
	source = https://github.com/scikit-build/ninja-python-distributions/archive/refs/tags/1.10.0.post2.tar.gz
	sha512sums = 8e1bac7b9df2b611b654eff17daf4416a9ef6ddebd8ee5355549ee3947c162447a2cd9b66852a4ffd26f9e4d466d259a6184babd987b3c4495d0718adb54eb8c

pkgname = python-ninja

