pkgbase = sabnzbd
	pkgdesc = A web-interface based binary newsgrabber with NZB file support
	pkgver = 2.3.8
	pkgrel = 1
	url = http://www.sabnzbd.org
	arch = any
	license = GPL
	depends = curl
	depends = par2cmdline
	depends = python2
	depends = python2-cheetah
	depends = python2-sabyenc
	depends = sqlite
	depends = unrar
	depends = unzip
	optdepends = python2-feedparser: rss support
	optdepends = python2-pyopenssl: ssl support
	source = https://github.com/sabnzbd/sabnzbd/releases/download/2.3.8/SABnzbd-2.3.8-src.tar.gz
	source = sabnzbd@.service
	sha256sums = 0685e867250106c0cab6cc9ffb5241caa9b1e2cdd43faec67ea41021d4997b72
	sha256sums = 5a2ca03b639d64250113a5e04e3884e2628cc4f3c23b42a39d15e69ec3261507

pkgname = sabnzbd

